.button {
  height: 50px;
  background: #FF5555;
  border-radius: 6px;
  border: 0;
  transition: .3s;
  cursor: pointer;
  color: white;
  font-size: 20px;
  display: inline-flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;

  &:hover {
    opacity: .7;
  }
}

.button_disabled {
  background: #D9D9D9;

  &:hover {
    opacity: 1;
  }
}

.button__search {
  width: 50px;
  height: 50px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 17.5px;
    height: 17.5px;
    background-image: url('img/Search.svg');
  }
}